* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.hidden {
  display: none;
}

main {
  margin-top: 95px;
}

.crear-gifo-cont {
  margin-left: 10.8%;
  margin-top: 100px;
  margin-right: 26.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crear-gifo-cont .camera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
  margin-top: 90.6px;
}

.crear-gifo-cont .camera .camera-img {
  width: 123px;
  height: 192px;
}

.crear-gifo-cont .camera .luz-camara-img {
  width: 91px;
  height: 141px;
}

.crear-gifo-cont .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 850px;
  margin-top: 10px;
}

.crear-gifo-cont .conteiner .cuadrado {
  width: 750px;
  height: 340px;
  border: 1px solid #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.crear-gifo-cont .conteiner .cuadrado .esquina {
  border-top: solid 1px #50E3C2;
  border-right: solid 1px #50E3C2;
  width: 27px;
  height: 27px;
}

.crear-gifo-cont .conteiner .cuadrado .esquinas-sup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.crear-gifo-cont .conteiner .cuadrado .esquinas-sup .esq-izq-sup {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.crear-gifo-cont .conteiner .cuadrado .centro {
  width: 488px;
  height: 310px;
  position: relative;
}

.crear-gifo-cont .conteiner .cuadrado .centro .title {
  margin-top: 84px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 35px;
}

.crear-gifo-cont .conteiner .cuadrado .centro .title span {
  color: #50E3C2;
}

.crear-gifo-cont .conteiner .cuadrado .centro .paragraph {
  margin-top: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 29px;
}

.crear-gifo-cont .conteiner .cuadrado .centro .video {
  margin: auto;
  width: 488px;
  height: 310px;
}

.crear-gifo-cont .conteiner .cuadrado .centro .img-saving-gifo {
  margin: auto;
  width: 488px;
  height: 310px;
}

.crear-gifo-cont .conteiner .cuadrado .centro .divBgSaving {
  position: absolute;
  top: 0;
  width: 488px;
  height: 310px;
  background-color: rgba(87, 46, 229, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crear-gifo-cont .conteiner .cuadrado .centro .divBgSaving .btnMyGif {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 15px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crear-gifo-cont .conteiner .cuadrado .centro .divBgSaving .btnMyGif .btnDownload {
  width: 32px;
  height: 32px;
  background-image: url(../images/icon-download.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.crear-gifo-cont .conteiner .cuadrado .centro .divBgSaving .btnMyGif .btnDownload:hover {
  background-image: url(../images/icon-download-hover.svg);
}

.crear-gifo-cont .conteiner .cuadrado .centro .divBgSaving .btnMyGif .btnLink {
  width: 32px;
  height: 32px;
  background-image: url(../images/icon-link-normal.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.crear-gifo-cont .conteiner .cuadrado .centro .divBgSaving .btnMyGif .btnLink:hover {
  background-image: url(../images/icon-link-hover.svg);
}

.crear-gifo-cont .conteiner .cuadrado .centro .divBgSaving .imgOK {
  width: 22px;
  height: 22px;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 10px;
}

.crear-gifo-cont .conteiner .cuadrado .centro .divBgSaving .imgLoad {
  width: 22px;
  height: 22px;
  background-image: url(../images/loader.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 10px;
  -webkit-animation: move 3s infinite linear;
          animation: move 3s infinite linear;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(0) rotate(360deg);
            transform: translateX(0) rotate(360deg);
  }
  to {
    -webkit-transform: translateX(200%) rotate(0px);
            transform: translateX(200%) rotate(0px);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateX(0) rotate(360deg);
            transform: translateX(0) rotate(360deg);
  }
  to {
    -webkit-transform: translateX(200%) rotate(0px);
            transform: translateX(200%) rotate(0px);
  }
}

.crear-gifo-cont .conteiner .cuadrado .centro .divBgSaving .text {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.crear-gifo-cont .conteiner .cuadrado .esquinas-inf {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.crear-gifo-cont .conteiner .cuadrado .esquinas-inf .esq-izq-inf {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.crear-gifo-cont .conteiner .cuadrado .esquinas-inf .esq-der-inf {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.crear-gifo-cont .conteiner .operadores-crear-gifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
  width: 100%;
  border-bottom: solid 6.9px #572EE5;
}

.crear-gifo-cont .conteiner .operadores-crear-gifo .pasos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crear-gifo-cont .conteiner .operadores-crear-gifo .pasos .paso {
  width: 32px;
  height: 32px;
  border: solid 1px #572EE5;
  border-radius: 50%;
  margin-bottom: 19px;
}

.crear-gifo-cont .conteiner .operadores-crear-gifo .pasos .paso .h5 {
  color: #572EE5;
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
}

.crear-gifo-cont .conteiner .operadores-crear-gifo .pasos .paso:nth-child(2) {
  margin-left: 26px;
  margin-right: 26px;
}

.crear-gifo-cont .conteiner .operadores-crear-gifo .pasos .paso_active {
  width: 32px;
  height: 32px;
  border: solid 1px #572EE5;
  border-radius: 50%;
  margin-bottom: 19px;
  background-color: #572EE5;
}

.crear-gifo-cont .conteiner .operadores-crear-gifo .pasos .paso_active .h5_active {
  color: #FFFFFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
}

.crear-gifo-cont .conteiner .operadores-crear-gifo .pasos .paso_active:nth-child(2) {
  margin-left: 26px;
  margin-right: 26px;
}

.crear-gifo-cont .conteiner .operadores-crear-gifo .cont-tiempo {
  margin-left: auto;
}

.crear-gifo-cont .conteiner .operadores-crear-gifo .cont-tiempo .tiempo {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  font-weight: bold;
}

.crear-gifo-cont .conteiner .operadores-crear-gifo .cont-tiempo .text-decoration {
  -webkit-text-decoration: underline #50E3C2 2px;
          text-decoration: underline #50E3C2 2px;
}

.crear-gifo-cont .conteiner .btn-comenzar {
  border: 1px solid #572EE5;
  border-radius: 25px;
  background: none;
  width: 127px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
}

.crear-gifo-cont .conteiner .btn-comenzar:hover {
  background-color: #572EE5;
  color: #FFFFFF;
}

.crear-gifo-cont .operador-img {
  position: absolute;
  float: right;
  background-image: url(../images/pelicula.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translateX(1100px);
          transform: translateX(1100px);
  margin-bottom: 76px;
}

.dark .conteiner {
  /*  .operador-img{
      background-image: url(../images/pelicula-modo-noc.svg);
      background-repeat: no-repeat;
      background-size: contain;
    } */
}

.dark .conteiner .cuadrado {
  border: 1px solid #FFFFFF;
}

.dark .conteiner .cuadrado .esquina {
  border-top: solid 1px #FFFFFF;
  border-right: solid 1px #FFFFFF;
}

.dark .conteiner .cuadrado .centro .title {
  color: #FFFFFF;
}

.dark .conteiner .cuadrado .centro .paragraph {
  color: #FFFFFF;
}

.dark .conteiner .operadores-crear-gifo {
  border-bottom: solid 6.9px #FFFFFF;
}

.dark .conteiner .operadores-crear-gifo .pasos .paso {
  border: solid 1px #FFFFFF;
}

.dark .conteiner .operadores-crear-gifo .pasos .paso .h5 {
  color: #FFFFFF;
}

.dark .conteiner .operadores-crear-gifo .pasos .paso_active {
  border: solid 1px #FFFFFF;
  background-color: #FFFFFF;
}

.dark .conteiner .operadores-crear-gifo .pasos .paso_active .h5_active {
  color: #000000;
}

.dark .conteiner .operadores-crear-gifo .cont-tiempo .tiempo {
  color: #FFFFFF;
}

.dark .conteiner .btn-comenzar {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.dark .conteiner .btn-comenzar:hover {
  background-color: #FFFFFF;
  color: #000000;
}
/*# sourceMappingURL=crea-gifo.css.map */