@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
}
body {
  transition: 0.3s ease all;
  /* .dark {
    background-color: $bg-night-mode;
    &.header{
      background-color: $bg-night-mode;
    box-shadow: 0 2px 4px 1px rgba(21, 22, 24, 0.55);
    border-top: $color-black solid 5px;
    }
  } */
}

.header {

  //box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
  z-index: 5;
  border-top: $primary-color solid 5px;
  background-color: $bg-blanco;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  .menu {
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10.8%;
    padding-right: 10.8%;
    .logo {
      background-image: url(../images/logo-desktop.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 70px;
      height: 60px;
      cursor: pointer;
    }
    .burger {
      display: none;
      border: none;
      div {
        width: 14px;
        height: 14px;
        background-image: url(../images/burger.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    .burger-close {
      display: none;
      border: none;
      div {
        width: 14px;
        height: 14px;
        background-image: url(../images/close.svg);
      }
    }
    .menu-ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        margin: 0px 20px;
        cursor: pointer;
        a {
          text-decoration: none;
          font-family: $primary-font-family;
          font-size: 13px;
          font-weight: bolder;
          color: $primary-color;
          display: block;
          text-transform: uppercase;
          &:hover {
            text-decoration: underline 2px;
            text-decoration-color: $secondary-color;
            transition: 0.4s;
          }
          &:active {
            color: $color-light-grey;
            transition: 0.4s;
          }
          .crear-gifo {
            width: 54px;
            height: 54px;
            background-image: url(../images/button-crear-gifo.svg);
            &:hover {
              background-image: url(../images/CTA-crear-gifo-hover.svg);
            }
            &:active {
              background-image: url(../images/CTA-crear-gifo-active.svg);
            }
          }
        }
      }
    }
  }
}
.shadow{
  box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
}
.dark {
  background-color: $bg-night-mode;
  .header {
    background-color: $bg-night-mode;
    //box-shadow: 0 2px 4px 1px rgba(21, 22, 24, 0.55);
    border-top: $color-black solid 5px;
    .menu {
      .logo {
        background-image: url(../images/Logo-modo-noc.svg);
      }
      .burger {
        background-color: $bg-night-mode;
        div {
          background-image: url(../images/burger-modo-noct.svg);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .burger-close{
        background-color: $bg-night-mode;
        div{
          background-image: url(../images/close-modo-noct.svg);
        }
      }
      .menu-ul{
        li{
          a{
            color: $bg-blanco;
            .crear-gifo{
              background-image: url(../images/CTA-crear-gifo-modo-noc.svg);
              &:hover {
                background-image: url(../images/CTA-crear-gifo-hover-modo-noc.svg);
              }
              &:active {
                background-image: url(../images/CTA-crear-gifo-active-modo-noc.svg);
              }
            }
          }
        }
      }
    }
  }
  .shadow{
    box-shadow: 0 2px 4px 1px rgba(21, 22, 24, 0.55);
  }
}
main {
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .header {
    .menu {
      padding-left: 22px;
      padding-right: 26px;
      .logo {
        background-image: url(../images/logo-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 48.8px;
        height: 48.8px;
      }
      .burger {
        display: block;
      }
      .burger-close {
        display: block;
      }
      .menu-ul {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: $bg-menu-burger;
        height: calc(100% - 95px);
        width: 100%;
        position: fixed;
        left: 100%;
        transition: left 0.3s;
        top: 95px;
        overflow-y: auto;
        padding-top: 32px;
        li {
          line-height: 30px;
          a {
            text-decoration: none;
            font-family: $montserrat-bold;
            font-size: 15px;
            color: $bg-blanco;
            line-height: 60px;
            text-transform: none;
            &:hover {
              color: $secondary-color;
            }
          }
          .crear-gifo {
            display: none;
          }
        }
        div {
          width: 41px;

          height: 1px;
          background-color: $bg-blanco;
          &:last-child {
            display: none;
          }
        }
      }
      .menu-ul_visible {
        left: 0;
      }
    }
  }
  .dark {
    .header {
      .menu {
        .menu-ul{
          background-color:$bg-night-mode-secondary;
        }
      }
    }
  }
}
